* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0;
}

.header {
  background-color: #000;
  padding: 10px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo img {
  width: 116px;
  height: 32px;
}
.header .container .content {
  display: flex;
  align-items: center;
}
.header .container .content .item-1 {
  margin-right: 10px;
  margin-top: 10px;
}
.header .container .content .item-1 img {
  width: 31px;
  height: 31px;
  margin-bottom: 10px;
}
.header .container .content .item-1 span {
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 0;
}
.header .container .content .item-2 a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 19.36px;
}

.navbar .container {
  padding: 16px 0;
}
.navbar .container .title .active {
  opacity: 1;
}
.navbar .container .title .active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  display: none;
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
}
.navbar .container .title a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  line-height: 24.2px;
  margin-right: 15px;
  opacity: 0.7;
  position: relative;
  transition: all 0.3s;
}
.navbar .container .title a:hover {
  opacity: 1;
}

.footer .container-fluid .top {
  padding: 30px;
  background-color: ghostwhite;
}
.footer .container-fluid .top .row {
  width: 85%;
  margin: auto;
}
.footer .container-fluid .top .row .col .item h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer .container-fluid .top .row .col .item ul {
  padding: 0;
}
.footer .container-fluid .top .row .col .item ul li {
  list-style: none;
  margin-bottom: 5px;
}
.footer .container-fluid .top .row .col .item ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 24px;
}
.footer .container-fluid .top .row .col .item ul li a:hover {
  text-decoration: underline;
  color: #AE18E2;
}
.footer .container-fluid .top .row .col .item-2 {
  border-right: rgba(0, 0, 0, 0.1647058824) 1px solid;
  border-left: rgba(0, 0, 0, 0.168627451) 1px solid;
  padding-left: 20px;
  height: 100%;
}
.footer .container-fluid .top .row .col .item-3 a {
  text-decoration: none;
  color: #ff6200;
}
.footer .container-fluid .top .row .col .item-3 a:hover {
  text-decoration: underline;
}
.footer .container-fluid .bot {
  padding: 30px 0 50px;
  background-color: rgba(214, 211, 211, 0.545);
}
.footer .container-fluid .bot .row {
  width: 85%;
  margin: auto;
}
.footer .container-fluid .bot .row .col .item h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer .container-fluid .bot .row .col .item p {
  font-size: 14px;
}
.footer .container-fluid .bot .row .col .item a {
  text-decoration: none;
  color: #ff6200;
}
.footer .container-fluid .bot .row .col .item a:hover {
  text-decoration: underline;
}
.footer .container-fluid .bot .row .col .item-2 {
  margin: 0 10px;
  border-right: rgba(0, 0, 0, 0.1647058824) 1px solid;
  border-left: rgba(0, 0, 0, 0.1647058824) 1px solid;
  padding-left: 20px;
}

.main {
  padding: 30px 0;
}
.main .container h1 {
  text-align: center;
  margin-bottom: 70px;
}
.main .container .form {
  width: 80%;
  margin: auto;
}
.main .container .form .row {
  flex-wrap: nowrap;
  gap: 20px;
}
.main .container .form .row .left .item .email, .main .container .form .row .left .item .passwordConfirm, .main .container .form .row .left .item .password {
  width: 482px;
  height: 51px;
  position: relative;
  margin-bottom: 15px;
}
.main .container .form .row .left .item .email::after, .main .container .form .row .left .item .passwordConfirm::after, .main .container .form .row .left .item .password::after {
  content: "";
  background: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);
  width: 482px;
  height: 5px;
  top: 51px;
  left: 0;
  position: absolute;
}
.main .container .form .row .left .item .email input, .main .container .form .row .left .item .passwordConfirm input, .main .container .form .row .left .item .password input {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36.31px;
  border: none;
  width: 346px;
  height: 36px;
}
.main .container .form .row .left .item .email input:focus, .main .container .form .row .left .item .passwordConfirm input:focus, .main .container .form .row .left .item .password input:focus {
  outline: none;
}
.main .container .form .row .left .item .email input::-moz-placeholder, .main .container .form .row .left .item .passwordConfirm input::-moz-placeholder, .main .container .form .row .left .item .password input::-moz-placeholder {
  color: #000;
}
.main .container .form .row .left .item .email input:-ms-input-placeholder, .main .container .form .row .left .item .passwordConfirm input:-ms-input-placeholder, .main .container .form .row .left .item .password input:-ms-input-placeholder {
  color: #000;
}
.main .container .form .row .left .item .email input::placeholder, .main .container .form .row .left .item .passwordConfirm input::placeholder, .main .container .form .row .left .item .password input::placeholder {
  color: #000;
}
.main .container .form .row .left .item .email p, .main .container .form .row .left .item .passwordConfirm p, .main .container .form .row .left .item .password p {
  position: absolute;
  top: 9px;
  left: 458px;
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24.2px;
}
.main .container .form .row .right .item .name, .main .container .form .row .right .item .phone {
  width: 482px;
  height: 51px;
  position: relative;
  margin-bottom: 15px;
}
.main .container .form .row .right .item .name::after, .main .container .form .row .right .item .phone::after {
  content: "";
  background: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);
  width: 482px;
  height: 5px;
  top: 51px;
  left: 0;
  position: absolute;
}
.main .container .form .row .right .item .name input, .main .container .form .row .right .item .phone input {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36.31px;
  border: none;
  width: 346px;
  height: 36px;
}
.main .container .form .row .right .item .name input:focus, .main .container .form .row .right .item .phone input:focus {
  outline: none;
}
.main .container .form .row .right .item .name input::-moz-placeholder, .main .container .form .row .right .item .phone input::-moz-placeholder {
  color: #000;
}
.main .container .form .row .right .item .name input:-ms-input-placeholder, .main .container .form .row .right .item .phone input:-ms-input-placeholder {
  color: #000;
}
.main .container .form .row .right .item .name input::placeholder, .main .container .form .row .right .item .phone input::placeholder {
  color: #000;
}
.main .container .form .row .right .item .name p, .main .container .form .row .right .item .phone p {
  position: absolute;
  top: 9px;
  left: 458px;
  font-size: 20px;
  font-weight: 400;
  color: #F50E0E;
  line-height: 24.2px;
}
.main .container .form .row .right .item .gender {
  display: flex;
  gap: 60px;
}
.main .container .form .row .right .item .gender h3 {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  padding-top: 10px;
}
.main .container .form .row .right .item .gender .check .male, .main .container .form .row .right .item .gender .check .female {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  padding-left: 45px;
  padding-top: 10px;
}
.main .container .form .row .right .item .gender .check .male input, .main .container .form .row .right .item .gender .check .female input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.main .container .form .row .right .item .gender .check .male .checkmark, .main .container .form .row .right .item .gender .check .female .checkmark {
  position: absolute;
  top: 5px;
  left: -30px;
  height: 50px;
  width: 65px;
  background-color: #D9D9D9;
  border-radius: 50%;
}
.main .container .form .row .right .item .gender .check .male .checkmark::after, .main .container .form .row .right .item .gender .check .female .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 10px;
  left: 12px;
  width: 39px;
  height: 30px;
  border-radius: 50%;
  background: #AE18E2;
}
.main .container .form .row .right .item .gender .check .male input:checked ~ .checkmark::after, .main .container .form .row .right .item .gender .check .female input:checked ~ .checkmark::after {
  display: block;
}
.main .container .form .row .right .item .gender .check .female {
  margin-left: 50px;
}
.main .container .form .row .right .item .btnSubmit {
  margin-top: 100px;
  margin-bottom: 30px;
  border: none;
  width: 291px;
  height: 50px;
  background-color: #AE18E2;
  color: #FFFCFC;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.main .container .form .row .right .item .btnSubmit:hover {
  border: #AE18E2 1px solid;
}