//bg
$bg-c1-dark :#000 ;
$bg-c2-dark :#D9D9D9 ;
$bg-c1-light:#F5F5F5;
$bg-c2-light:#F8F8F8;
$bg-c1-puple:#AE18E2;
$bg-c1-warning:#F8B653;
$bg-c2-warning:#DEDDDC;
//color
$text-c1-dark:#000;
$text-c1-light:#FFFFFF;
$text-c2-light:#FFFCFC;
$text-c1-danger:#F50E0E;
$text-c1-puple:#AE18E2;
$text-c3-light:#CBC9C9;
$text-c1-warning:#F8B653;

//font style
$text-size-base :16px;
$text-size-l :20px;
$text-size2-l : 24px;
$text-size-xl :30px;
$text-size-2xl :40px;
//font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;















@mixin text ($fs:$text-size-base,$fw:$text-regular,$c:$text-c1-light,$lh:0) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
    line-height: $lh;
}
@mixin button ($w,$h,$bg,$c,$fs,$fw,$lh){
    width:$w;
    height:$h ;
    background-color:$bg ;
    color: $c;
    font-size:$fs ;
    font-weight: $fw;
    line-height: $lh;
}