@import '../../variable/variable';
@import '../../base/base';


.main {
    padding: 30px 0;

    .container {
       

        h1 {
            text-align: center;
            margin-bottom: 70px;
        }

        .form {
            width: 80%;
            margin: auto;
            @media screen and (max-width:1280px) {

                width: 100%;
                margin: 0;

            }
            @media screen and (max-width:992px) {

                width: 60%;
                margin: auto;

            }
            @media screen and (max-width:776px) {

                width: 80%;
                margin: auto;

            }
            @media screen and (max-width:576px) {

                width: 100%;
                margin: 0;

            }

            .row {
                flex-wrap: nowrap;

                gap: 20px;
                @media screen and (max-width:1280px) {
                    gap: 0;
                    
    
                }
                @media screen and (max-width:992px) {
                    display: block;
                    width: 100%;
                    padding: 0 30px;
                }

                .left {

                    .item {

                        .email {
                            width: 482px;
                            height: 51px;
                            position: relative;
                            margin-bottom: 15px;
                            
                            &::after {
                                content: '';
                                background: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);
                                width: 482px;
                                height: 5px;
                                top: 51px;
                                left: 0;
                                position: absolute
                            }


                            ;

                            input {

                                @include text ($text-size-xl, $text-regular, $text-c1-dark, 36.31px);
                                border: none;
                                width: 346px;
                                height: 36px;
                                 
                                &:focus {
                                    outline: none;
                                }

                                &::placeholder {
                                    color: $text-c1-dark;
                                }
                            }

                            p {
                                position: absolute;
                                top: 9px;
                                left: 458px;
                                @include text ($text-size-l, $text-regular, $text-c1-danger, 24.2px);

                            }
                        }

                        .password {
                            @extend .email;
                        }

                        .passwordConfirm {
                            @extend .email;
                        }
                    }
                }

                .right {

                    .item {
                        .name {
                            width: 482px;
                            height: 51px;
                            position: relative;
                            margin-bottom: 15px;

                            &::after {
                                content: '';
                                background: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);
                                width: 482px;
                                height: 5px;
                                top: 51px;
                                left: 0;
                                position: absolute
                            }


                            ;

                            input {

                                @include text ($text-size-xl, $text-regular, $text-c1-dark, 36.31px);
                                border: none;
                                width: 346px;
                                height: 36px;

                                &:focus {
                                    outline: none;
                                }

                                &::placeholder {
                                    color: $text-c1-dark;
                                }
                            }

                            p {
                                position: absolute;
                                top: 9px;
                                left: 458px;
                                @include text ($text-size-l, $text-regular, $text-c1-danger, 24.2px);

                            }
                        }

                        .phone {
                            @extend .name;
                        }

                        .gender {
                            display: flex;

                            gap: 60px;

                            h3 {
                                @include text ($text-size-xl, $text-regular, $text-c1-dark, 36px);
                                padding-top: 10px;
                            }

                            .check {
                                
                                display: flex;

                                .male {
                                    display: inline-block;
                                    position: relative;
                                    cursor: pointer;
                                    @include text ($text-size-xl, $text-regular, $text-c1-dark, 36px);
                                    padding-left: 45px;
                                    padding-top: 10px;

                                    input {
                                        position: absolute;
                                        opacity: 0;
                                        cursor: pointer;


                                    }

                                    .checkmark {
                                        position: absolute;
                                        top: 5px;
                                        left: -30px;
                                        height: 50px;
                                        width: 65px;
                                        background-color: $bg-c2-dark;
                                        border-radius: 50%;

                                        &::after {
                                            content: "";
                                            position: absolute;
                                            display: none;
                                            top: 10px;
                                            left: 12px;
                                            width: 39px;
                                            height: 30px;
                                            border-radius: 50%;
                                            background: $bg-c1-puple;


                                        }




                                    }
                                }

                                .male input:checked~.checkmark::after {
                                    display: block;
                                }

                                .female {
                                    margin-left: 50px;
                                    @extend .male
                                }

                            }

                        }

                        .btnSubmit {
                            margin-top: 100px;
                            margin-bottom: 30px;
                            border: none;
                            @include button (291px, 50px, $bg-c1-puple, $text-c2-light, $text-size-xl, $text-regular, 36px);

                            &:hover {
                                border: $text-c1-puple 1px solid;
                            }
                        }
                    }
                }
            }
        }
    }
}